.resultsDiv {
  grid-row-start: 2;
  grid-column-start: 1;
  background-color: var(--color-background);
  margin-left: 80px;
  padding: 8px;
  border-radius: 8px;
  max-height: 520px;
}

.header {
  margin-top: 0;
  color: var(--color-primary);
  font-family: var(--font-heading);
}