.resultsDiv {
  background-color: var(--color-background);
  padding: 8px;
  border-radius: 8px;
  min-height: 0;
  max-height: 520px;
  width: 50%;
}

.header {
  margin-top: 0;
  color: var(--color-primary);
  font-family: var(--font-heading);
}