.parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.results-and-playlist {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 24px;
  width: 85%;
}